<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lugeek.assistprojecttest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="测试Assist"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.android.test.assist.AboveKeyguardActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="Test Above Keyguard Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.android.test.assist.AssistInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":session"></service>

        <service
            android:name="com.android.test.assist.AssistInteractionService"
            android:label="Test Assist Interaction Service"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":interactor">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/interaction_service" />

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/assistant" />
            <meta-data
                android:name="com.android.keyguard.layout"
                android:resource="@layout/keyguard_preview" />
        </service>
    </application>
</manifest>